<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.fwe.weather">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        
        <activity android:name=".LocationPickerActivity"/>
        
    </application>

</manifest>
